{
  "trailingComma": "all",
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)$",
    "^react-dom$",
    "^(?:[./@]*next)(/.*|$)",
    "<THIRD_PARTY_MODULES>",
    "^(?:[./@]*app)(/.*|$)",
    "^(?:[./@]*components/base)(/.*|$)",
    "^(?:[./@]*components/partials)(/.*|$)",
    "^(?:[./@]*components/code-display)(/.*|$)",
    "^(?:[./@]*components/page-contents)(/.*|$)",
    "^(?:[./@]*components)(/.*|$)",
    "^(?:[./@]*content/data)(/.*|$)",
    "^(?:[./@]*content)(/.*|$)",
    "^(?:[./@]*shared)(/.*|$)",
    "^(?:[./@]*types)(/.*|$)",
    "^(?:[./@]*)(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
