@import url("./globals.css");

section#blog {
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-spacing-3);
}

section#blog div#blog-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--vertical-spacing-1);
}

section#blog div#blog-header h1 {
  margin: var(--vertical-spacing-3) 0 0 0;
  padding: 0;
}

section#blog div#blog-header p {
  margin: 0;
  padding: 0;
  color: var(--color-4);
  text-align: center;
}

section#blog section.blog-year {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

section#blog section.blog-year h2 {
  margin: 0 0 var(--vertical-spacing-1) 0;
  padding: 0;
}

section#blog section.blog-year a.blog-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px var(--color-2);
  padding: 10px 0px;
  color: var(--color-5);
  text-decoration: none;
}

section#blog section.blog-year a.blog-post a {
  color: var(--color-5);
  text-decoration: none;
}

section#blog section.blog-year a.blog-post span.blog-post-date {
  color: var(--color-4);
}

section#blog-content {
}

section#blog-content a#blog-return {
  width: fit-content;
  color: var(--color-4);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 7px;
}

section#blog-content hr#blog-content-divider {
  border: 0;
  border-top: solid 2px var(--color-2);
  border-radius: var(--border-radius-2);
  margin: var(--vertical-spacing-2) 0;
}
