:root {
  --color-1: #1f1f1f;
  --color-2: #282828;
  --color-3: #383838;
  --color-4: #aaaaaa;
  --color-5: #eeeeee;

  --selection-color: #f17f29;

  --font-family: "Inter", "Arial", "Verdana", sans-serif;
  --font-size: 17px;
  --line-height: 24px;
  --letter-spacing: 0.1px;

  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --padding: 20px;

  --vertical-spacing-1: 10px;
  --vertical-spacing-2: 20px;
  --vertical-spacing-3: 40px;

  color-scheme: dark;
}

::selection {
  background-color: var(--selection-color);
  color: #eeeeee;
}

body {
  min-width: 400px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-1);
  color: var(--color-5);
  scroll-behavior: smooth;
}

body.light-theme {
  --color-1: #eeeeee;
  --color-2: #e3e3e3;
  --color-3: #d0d0d0;
  --color-4: #666666;
  --color-5: #1f1f1f;
  --selection-color: #d16b1d;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

svg {
  width: 22px;
  height: 22px;
}

main {
  width: 780px;
  margin: var(--vertical-spacing-2) auto var(--vertical-spacing-3) auto;
}

pre code.hljs {
  border-radius: var(--border-radius-2);
  background-color: var(--color-2);
}

button#theme-toggle {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-5);
  cursor: pointer;
}

img#general_cat {
  width: 184px;
  height: 184px;
  background-size: cover;
  border-radius: var(--border-radius-2);
}

section#introduction,
section#techstack,
section#highlights,
section#collaborate {
  width: 780px;
  margin: var(--vertical-spacing-3) auto;
}

header {
  width: 820px;
  height: 64px;
  margin: auto;
  background-color: var(--color-2);
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

header nav a {
  color: var(--color-5);
  text-decoration: none;
}

header nav div.nav-divider {
  color: var(--color-3);
  user-select: none;
}

@media only screen and (max-width: 840px) {
  main {
    width: auto;
    margin: var(--vertical-spacing-2) 20px;
  }

  section#introduction,
  section#techstack,
  section#highlights,
  section#collaborate {
    width: auto !important;
    margin: var(--vertical-spacing-3) 0;
  }

  header {
    width: 100%;
    height: 64px;
    margin: auto;
    background-color: var(--color-2);
    padding: var(--padding);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
  }

  section#introduction {
    column-gap: 20px;
    align-items: start;
  }

  section#introduction div#introduction-grid p {
    width: auto;
    color: var(--color-4);
  }

  section#techstack button#techstack-toggle {
    width: 100%;
  }

  section#highlights div#highlights-content div.highlighted-project {
    min-width: calc((100% - 10px) / 2);
  }
}

@media only screen and (max-width: 700px) {
  section#introduction {
    row-gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
  }

  section#introduction div#introduction-grid h1,
  section#introduction div#introduction-grid p {
    text-align: center;
  }

  section#introduction div#introduction-grid p {
    padding: 0 var(--padding);
    box-sizing: border-box;
  }

  section#introduction div#introduction-grid div#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#highlights div#highlights-content {
    flex-direction: column;
  }

  section#highlights div#highlights-content div.highlighted-project {
    width: 100%;
  }
}
