:root {
  --color-1: #1f1f1f;
  --color-2: #282828;
  --color-3: #555555;
  --color-4: #aaaaaa;
  --color-5: #eeeeee;

  --selection-color: #f17f29;

  --font-family: "Inter";
  --font-size: 17px;
  --line-height: 24px;
  --letter-spacing: 0.1px;

  --border-radius-1: 5px;
  --border-radius-2: 10px;
  --padding: 20px;

  --vertical-spacing-1: 10px;
  --vertical-spacing-2: 20px;
  --vertical-spacing-3: 40px;

  color-scheme: dark;
}

::selection {
  background-color: var(--selection-color);
  color: #eeeeee;
}

body {
  min-width: 400px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-1);
  color: var(--color-5);
  scroll-behavior: smooth;
}

body.light-theme {
  --color-1: #eeeeee;
  --color-2: #e3e3e3;
  --color-3: #aaaaaa;
  --color-4: #666666;
  --color-5: #1f1f1f;
  --selection-color: #d16b1d;
}

svg {
  width: 22px;
  height: 22px;
}

button#theme-toggle {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-2);
  color: var(--color-5);
  cursor: pointer;
}

section#introduction,
section#techstack,
section#highlights,
section#collaborate {
  width: 780px;
  margin: var(--vertical-spacing-3) auto;
}

h3.section-header {
  width: fit-content;
  padding: 0;
  margin: 0px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

img#general_cat {
  width: 184px;
  height: 184px;
  background-size: cover;
  border-radius: var(--border-radius-2);
}

header {
  width: 780px;
  height: 64px;
  margin: auto;
  background-color: var(--color-2);
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}

header nav a {
  color: var(--color-5);
  text-decoration: none;
}

header nav div.nav-divider {
  color: var(--color-3);
  user-select: none;
}

section#introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

section#introduction div#introduction-grid {
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-spacing-2);
}

section#introduction div#introduction-grid h1,
section#introduction div#introduction-grid p {
  margin: 0;
  padding: 0;
}

section#introduction div#introduction-grid p {
  width: 535px;
  color: var(--color-4);
}

section#introduction div#introduction-grid div#social-links {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 10px;
}

section#introduction div#introduction-grid div#social-links a {
  width: 22px;
  height: 22px;
  color: var(--color-5);
}

section#techstack button#techstack-toggle {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-2);
  color: var(--color-4);
  width: 780px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  transition-property: border-top-left-radius, border-top-right-radius;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}

section#techstack button#techstack-toggle.toggled {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section#techstack button#techstack-toggle.untoggled {
  border-radius: 10px;
}

section#techstack div#techstack-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
  overflow: hidden;
  transition-property: padding, max-height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}

section#techstack div#techstack-content.toggled {
  padding: var(--padding);
  max-height: 1000px;
  border: solid 2px var(--color-2);
  border-top: 0;
}

section#techstack div#techstack-content.untoggled {
  padding: 0 var(--padding);
  max-height: 0px;
  border: solid 2px transparent;
  border-top: 0;
}

section#techstack div#techstack-content div.techstack-category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
}

section#techstack div#techstack-content div.techstack-category div.techstack-items {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

section#techstack div#techstack-content div.techstack-category div.techstack-items div {
  background-color: var(--color-2);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: var(--border-radius-1);
  color: var(--color-4);
}

section#techstack div#techstack-content div.techstack-category div.techstack-items div svg {
  color: var(--color-4) !important;
}

section#highlights div#highlights-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

section#highlights div#highlights-content div.highlighted-project {
  border-radius: var(--border-radius-2);
  width: 385px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex: 1;
}

section#highlights div#highlights-content div.highlighted-project a.project-title {
  background-color: var(--color-2);
  padding: var(--padding);
  box-sizing: border-box;
  border-top-left-radius: var(--border-radius-2);
  border-top-right-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: var(--color-5);
  text-decoration: none;
}

section#highlights div#highlights-content div.highlighted-project div.project-details {
  border: solid 2px var(--color-2);
  padding: var(--padding);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: var(--vertical-spacing-2);
  border-bottom-left-radius: var(--border-radius-2);
  border-bottom-right-radius: var(--border-radius-2);
  flex: 1;
}

section#highlights div#highlights-content div.highlighted-project div.project-details p {
  flex: 1;
  margin: 0;
  padding: 0;
  color: var(--color-4);
}

section#highlights div#highlights-content div.highlighted-project div.project-details div {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 5px;
  row-gap: 5px;
  color: var(--color-4);
}

section#highlights div#highlights-content div.highlighted-project div.project-details div span {
  background-color: var(--color-2);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: var(--border-radius-1);
}

section#collaborate {
  width: 780px;
  margin: auto;
  color: var(--color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: var(--vertical-spacing-2);
  margin-top: var(--vertical-spacing-3);
  margin-bottom: var(--vertical-spacing-3);
}

section#collaborate img#general_cat {
  border-radius: 100%;
}

section#collaborate h2 {
  color: var(--color-5);
  padding: 0;
  margin: 0;
}

section#collaborate p {
  margin: 0;
  padding: 0 40px;
  box-sizing: border-box;
  text-align: center;
}

section#collaborate p a {
  color: var(--color-5);
  text-decoration: none;
}

section#collaborate a#contact-linkedin {
  background-color: var(--color-2);
  color: var(--color-5);
  text-decoration: none;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  padding: 10px var(--padding);
  box-sizing: border-box;
  border-radius: var(--border-radius-2);
}

@media only screen and (max-width: 840px) {
  section#introduction,
  section#techstack,
  section#highlights,
  section#collaborate {
    width: auto;
    margin: var(--vertical-spacing-3) 20px;
  }

  header {
    width: 100%;
    height: 64px;
    margin: auto;
    background-color: var(--color-2);
    padding: var(--padding);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0;
  }

  section#introduction {
    column-gap: 20px;
    align-items: start;
  }

  section#introduction div#introduction-grid p {
    width: auto;
    color: var(--color-4);
  }

  section#techstack button#techstack-toggle {
    width: 100%;
  }

  section#highlights div#highlights-content div.highlighted-project {
    width: calc((100% - 10px) / 2);
  }
}

@media only screen and (max-width: 700px) {
  section#introduction {
    row-gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
  }

  section#introduction div#introduction-grid h1,
  section#introduction div#introduction-grid p {
    text-align: center;
  }

  section#introduction div#introduction-grid p {
    padding: 0 var(--padding);
    box-sizing: border-box;
  }

  section#introduction div#introduction-grid div#social-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section#highlights div#highlights-content {
    flex-direction: column;
  }

  section#highlights div#highlights-content div.highlighted-project {
    width: 100%;
  }
}
